In [1]:
4+4

8

In [3]:
import pandas as pd
a=[1,2,3,4]
myvar=pd.Series(a)
print(myvar)

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
print(myvar)

0    1
1    2
2    3
3    4
dtype: int64

In [1]:
import pandas as pd
b={"veggie1":"potato","veggie2":"onion","veggie3":"capsicum"}
myvar1=pd.Series(b)

In [11]:
myvar1.size

NameError: name 'myvar1' is not defined

In [8]:
import pandas as pd
b={"veggie1":"potato","veggie2":"onion","veggie3":"capsicum"}
myvar1=pd.Series(b)
myvar1.values

array(['potato', 'onion', 'capsicum'], dtype=object)

In [17]:
f=pd.read_csv("auto-mpg.csv")
f

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [22]:
d=pd.read_csv("bollywood.csv")
d.head()

                                  movie           lead
0              Uri: The Surgical Strike  Vicky Kaushal
1                         Battalion 609    Vicky Ahuja
2  The Accidental Prime Minister (film)    Anupam Kher

In [47]:
import pandas as pd
import numpy as np
data = {'Name': ['William', 'Emma', 'Sofia', 'Markus',
'Edward','Thomas','Ethan',np.nan,'Arun','Anika','Paulo'],
'Region': [np.nan,'North','East',np.nan,'West',
'West', 'South',np.nan,'West','East', 'South'],
'Sales': [50000.0, 52000.0, np.nan,np.nan,42000.0,
72000.0,49000.0,np.nan,67000.0,65000.0,67000.0],
'Expenses': [42000.0, 43000.0,np.nan,np.nan, 38000.0,
390000.0,42000.0,np.nan,39000.0,50000.0,45000.0]}
# Create the DataFrame
df = pd.DataFrame(data)
print(df.shape)
def remove_outliers(df, col):
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]
# Remove outliers from column Sales using the remove_outliers function
df_no_outliers = remove_outliers(df, 'Sales')
print(df_no_outliers.shape)
df_no_outliers

(11, 4)
(8, 4)

       Name Region    Sales  Expenses
0   William    NaN  50000.0   42000.0
1      Emma  North  52000.0   43000.0
4    Edward   West  42000.0   38000.0
5    Thomas   West  72000.0  390000.0
6     Ethan  South  49000.0   42000.0
8      Arun   West  67000.0   39000.0
9     Anika   East  65000.0   50000.0
10    Paulo  South  67000.0   45000.0

In [49]:
import pandas as pd
import matplotlib.pyplot as plt
from wordcloud import WordCloud, STOPWORDS
# Load the dataset
df = pd.read_csv("restaurant_reviews.csv")
# Join all the reviews into a single string
text = " ".join(review for review in df.restaurant_name)
# Create a set of stopwords
stopwords = set(STOPWORDS)
# Add some additional stopwords specific
#to the restaurant domain
stopwords.update(["restaurant", "food", "service", "menu", "meal"])
# Generate a wordcloud image
wordcloud = WordCloud(stopwords=stopwords, max_words=50,
 background_color="white").generate(text)
# Display the generated image
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()

FileNotFoundError: [Errno 2] No such file or directory: 'restaurant_reviews.csv'

In [52]:
import pandas as pd
import numpy as np
df=pd.DataFrame([[0,1,2,np.nan,5],[2,0,1,5,np.nan],[5,0,1,np.nan,5],[2,0,1,np.nan,np.nan]])